body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: rgb(176, 92, 197); */
    background-image: linear-gradient(rgb(130, 168, 212),rgb(210, 132, 255));
}


#calculator{
    font-family: Arial, sans-serif;
    /* background-color:#c4bdd6 ; */
    background-color: white;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    box-shadow: 0px 0px 30px 5px black;
    
    
}

#display{
    width: 100%;
    height: 200px;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    /* background-color:#1f2e38 ; */
    background-color: white;
    color: #1b1818;
    /* box-shadow: 0px 0px 5px rgb(91, 182, 64) ; */
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}


button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color:#C3EAFF;
    color:rgb(26, 71, 15);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color:#acdeff ;
}
button:active{
    background-color:#d4e8fa ;
}



.operator-btn{
    background-color: #FFD0FD;
    color: #f75aef;
}
.operator-btn:hover{
    background-color: rgb(253, 188, 231);
}
.operator-btn:active{
    background-color: rgb(250, 212, 242);
}
.c-btn{
    background-color:#FFD5D8;
    color: rgb(255, 108, 108);
}
.c-btn:hover{
    background-color:#f8bdc1;
}
.c-btn:active{
    background-color: rgb(250, 211, 211);
}
.equal-btn{
    background-color: #ADF9E7;
    border-radius: 40px;
    height: 120px;
    width: 88px;

}
.equal-btn:hover{
    background-color: #98e7d5;
}
.equal-btn:active{
    background-color: #c6f3e9;
}